<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="shortcut icon" href="/images/read.png" type="image/x-icon">
    <title>OnlineAcademy</title>
    <!-- bootstrap core css -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

    <!-- font awesome style -->
    <!-- <link href="/css/font-awesome.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />

    <!-- nice select -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/vwd3p1ep52odu6hslslg9qnxh8cr0xk7mqumk323lc62ccbg/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

</head>

<body>
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="http://localhost:5000">
                    <img height="25" width="25" src="https://www.flaticon.com/svg/static/icons/svg/2436/2436636.svg">
                    <span>
                        oCademy
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse ml-3 mr-3" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #fff !important;" href="#"
                                data-toggle="dropdown">Categories</a>
                            <ul class="dropdown-menu">
                                <% fields.forEach(field=> { %>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="category/<%=field.alias%>">
                                            <%=field.name%>
                                        </a>
                                        <ul class="submenu dropdown-menu">
                                            <% categories.forEach((category)=> { %>
                                                <% if (category.field.equals(field._id)) { %>
                                                    <li><a class="dropdown-item"
                                                            href="/category/<%=field.alias%>/<%=category.alias%>/?p=1">
                                                            <%=category.name%>
                                                        </a></li>
                                                    <% } %>
                                                        <% }) %>
                                        </ul>
                                    </li>
                                    <% }) %>
                            </ul>
                        </li>
                    </ul>
                    <div class="user_option">
                        <!-- <form id="search-form-layout" method="POST" class="form-inline my-2 my-lg-0 mr-3">
                            <input id="searchBar-layout" class="form-control mr-sm-2" style="border-radius: 9999px;" type="text"
                                placeholder="Search for anything" aria-label="Search">
                            <div class="btn-box btn btn-outline-light">
                                <button type="submit" class="btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form> -->
                        <% if(!isAuth){ %>
                            <a class="nav-link" href="/auth/signin">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <span>Log in</span>
                            </a>
                            <a class="nav-link" href="/auth/signup">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span>Sign up</span>
                            </a>
                            <%} %>
                                <% if(user){ %>
                                    <% if(user.role === 1 || user.role ===0){ %>
                                    <a class="nav-link" href="/user/learning/all-courses">
                                        <i class="fa fa-leanpub" aria-hidden="true"></i>
                                        <span>
                                            My Learning
                                        </span>
                                    </a>
                                    <%} %>
                                    <a class="nav-link" href="/user/profile/<%= user._id%>">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Welcome,
                                            <%= user.name%>
                                        </span>
                                    </a>
                                    <% } %>
                                        <% if(isAuth){ %>
                                            <a class="nav-link" href="/auth/signout">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                <span>Sign out</span>
                                            </a>
                                            <%} %>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <%- body %>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
            integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
        <!-- custom js -->
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <script src="/js/custom.js"></script>
</body>

</html>