<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>OnlineAcademy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Vài đường jQuery :))-->
    <script type="text/javascript">
        $(document).ready(function() {
            // jQuery code
        
            //////////////////////// Prevent closing from click inside dropdown
            $(document).on('click', '.dropdown-menu', function (e) {
              e.stopPropagation();
            });
        
            // make it as accordion for smaller screens
            if ($(window).width() < 992) {
                  $('.dropdown-menu a').click(function(e){
                      e.preventDefault();
                    if($(this).next('.submenu').length){
                        $(this).next('.submenu').toggle();
                    }
                    $('.dropdown').on('hide.bs.dropdown', function () {
                       $(this).find('.submenu').hide();
                    })
                  });
            }
            
        });
    </script>
    <!--CSS sương sương cho đẹp =))-->    
    <style type="text/css">
        @media (min-width: 992px){
            .dropdown-menu .dropdown-toggle:after{
                border-top: .3em solid transparent;
                border-right: 0;
                border-bottom: .3em solid transparent;
                border-left: .3em solid;
            }
        
            .dropdown-menu .dropdown-menu{
                margin-left:0; margin-right: 0;
            }
        
            .dropdown-menu li{
                position: relative;
            }
            .nav-item .submenu{ 
                display: none;
                position: absolute;
                left:100%; top:-7px;
            }
            .nav-item .submenu-left{ 
                right:100%; left:auto;
            }
        
            .dropdown-menu > li:hover{ background-color: #f1f1f1 }
            .dropdown-menu > li:hover > .submenu{
            display: block;
            }
        }
    </style>
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!--Logo-->
        <!-- Brand -->
        <a class="navbar-brand" href="#" style="padding-left: 50px;">
            <img height="25" width="25" src="https://www.flaticon.com/svg/static/icons/svg/2436/2436636.svg">
            OnlineAcademy
        </a>
        <ul class="container-fluid navbar-nav" style="flex-grow: 1; padding-left: 200px;">
            <!-- Dropdown -->
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories</a>
                <ul class="dropdown-menu">
                    <% fields.forEach(function(field) { %>
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="category/<%=field.alias%>">
                                <%=field.name%>
                            </a>
                            <ul class="submenu dropdown-menu">
                                <% categories.forEach(function(category) { %>
                                    <% if (category.field.equals(field._id)) { %>
                                        <li><a class="dropdown-item" href="category/<%=field.alias%>/<%=category.alias%>"><%=category.name%></a></li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            </li>

            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button type="button" class="btn btn-outline-info">
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li style="padding-right: 20px;">
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-info" href="/user/signin">Login</a>
                </form>
            </li>
            <li style="padding-right: 20px;">
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-success" href="/user/signup">Create New Account</a>
                </form>
            </li>
        </ul>
    </nav>

    <!--List Group-->
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-2">
                <div class="card mt-3">
                    <div class="card-header bg-dark text-white">
                        <h4>All Categories</h4>
                    </div>
                    <div class="list-group list-group-flush">
                        <% categories.forEach(function(category) { %>
                            <% fields.forEach(function(field) { %>
                                <% if (category.field.equals(field._id)) { %>
                                    <a class="list-group-item  list-group-item-action" href="category/<%=field.alias%>/<%=category.alias%>">
                                        <h5>
                                            <%=category.name%>
                                        </h5>
                                    </a>
                                <% } %>
                            <% }) %>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-3">
                <%- body %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>