<%- include('learning-layout'); -%>


<div class="container mt-5">
    <div class="row">
        <% var index = 0 %>
        <% courses.forEach((course)=>{ %>
            <div class="card col-sm-3 mr-5 mb-2 comment-widgets" onclick="document.location='/course/<%= course._id%>/learn/<%= replay[index] %>'" style="cursor: pointer;" >
                <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                    alt="<%= course.name %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= course.name %>
                    </h5>
                    <p class="card-text">
                        <i><%= course.description %></i>
                    </p>
                    <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" style="font-size : 20px;">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>  Go to Course
                    </button>
                    <% if (isDone[index]){ %>
                        <button style="font-size : 20px; margin-top: 10px; width: 100%; display: block;" type="button" class="btn btn-info" disabled>Finished</button>
                    <% } else { %>
                        <button style="font-size : 20px; margin-top: 10px; width: 100%; display: block;" type="button" class="btn btn-success" disabled>In Progress</button>
                    <% } %>
                </div>
            </div>
            <% index++ %>
            <% }) %>
    </div>
</div>



