<div class="hero_area">
    <section class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h1>
                            Welcome to <br>
                            oCademy
                        </h1>
                    </div>
                    <div class="find_container">
                        <form id="search-form" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="searchBar"
                                    placeholder="What do you want to learn ?">
                            </div>
                            <div class="btn-box">
                                <button type="submit" class="btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/slider-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- category section -->
<section class="category_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Top Categories
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/category/design/web-design" class="box">
                    <div class="img-box">
                        <img src="/images/c1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Web Design
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/category/development/web-development" class="box">
                    <div class="img-box">
                        <img src="/images/c2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Web Development
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/category/design/graphic-design" class="box">
                    <div class="img-box">
                        <img src="/images/c3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Graphic Design
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/category/development/data-science" class="box">
                    <div class="img-box">
                        <img src="/images/c4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Data Science
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/category/marketing/advertising" class="box">
                    <div class="img-box">
                        <img src="/images/c5.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Adversiting
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/category/lifestyle/gaming" class="box">
                    <div class="img-box">
                        <img src="/images/c6.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Gaming
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end category section -->

<!-- job section -->
<section class="job_section layout_padding">
    <div class="container">
        <!-- All Courses -->
        <div class="heading_container">
            <h2>
                All Courses
            </h2>
            <a href="/courses">
                View all
            </a>
        </div>
        <div class="container-fluid">
            <div class="carousel-wrap">
                <div class="owl-carousel course-carousel">
                    <% top10Courses.forEach((course)=>{ %>
                        <div class="card h-100 w-100">
                            <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                                alt="<%= course.name %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= course.name %>
                                </h5>
                                <a href="/course/<%= course._id%>" class="btn btn-primary">Detail</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <!-- Featured Courses -->
        <div class="heading_container">
            <h2>
                Featured
            </h2>
        </div>
        <div class="container-fluid">
            <div class="carousel-wrap">
                <div class="owl-carousel course-carousel">
                    <% featuredCourses.forEach((course)=>{ %>
                        <div class="card h-100 w-100">
                            <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                                alt="<%= course.name %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= course.name %>
                                </h5>
                                <a href="/course/<%= course._id%>" class="btn btn-primary">Detail</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <!-- Most viewed Courses -->
        <div class="heading_container">
            <h2>
                Most Viewed
            </h2>
        </div>
        <div class="container-fluid">
            <div class="carousel-wrap">
                <div class="owl-carousel course-carousel">
                    <% mostViewedCourses.forEach((course)=>{ %>
                        <div class="card h-100 w-100">
                            <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                                alt="<%= course.name %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= course.name %>
                                </h5>
                                <a href="/course/<%= course._id%>" class="btn btn-primary">Detail</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <!-- Latest Courses -->
        <div class="heading_container">
            <h2>
                Latest
            </h2>
        </div>
        <div class="container-fluid">
            <div class="carousel-wrap">
                <div class="owl-carousel course-carousel">
                    <% latestCourses.forEach((course)=>{ %>
                        <div class="card h-100 w-100">
                            <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                                alt="<%= course.name %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= course.name %>
                                </h5>
                                <a href="/course/<%= course._id%>" class="btn btn-primary">Detail</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end job section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What says our Clients
            </h2>
        </div>
        <div class="carousel-wrap">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        LusDen
                                    </h6>
                                    <p>
                                        Watercolorist
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                oCademy has given me the opportunity to reach a global audience for my classes that
                                wouldn’t have been possible otherwise. </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        Developer and Bootcamp Instructor
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Launching my first course on oCademy allowed me to quit my full-time job and start my
                                own
                                company. I went from working 60+ hour weeks to setting my own hours and schedule </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client3.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        Engineering Architect
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                There's no greater success on the Udemy marketplace than hearing that you've helped a
                                student achieve their goals. Teaching on Udemy has brought me new relationships from
                                wonderful and insatiably curious students. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->



<!-- info section -->
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    Online Academy
                </h4>
                <p>
                    Study forever...
                </p>
            </div>
            <div class="col-md-4">
                <div class="info_logo_box">
                    <a href="">
                        oCademy
                    </a>
                    <p>
                        Perfect place to get knowledge
                    </p>
                </div>
                <div class="social_container">
                    <div>
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info_form">
                    <h4>
                        Get more info
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Enter Your Email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </div>
</footer>
<!-- footer section -->