<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="display: inline;">Update Course</h4>
                    <hr>
                </div>
                <% if(successMessage){ %>
                    <div class="alert alert-success" role="alert">
                        <strong>
                            <%= successMessage %>
                        </strong>
                    </div>
                    <% } %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Name</label>
                            <div class="col-8">
                                <input id="username" name="name" class="form-control here" required="required"
                                    type="text" value="<%=course.name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="category" class="col-4 col-form-label">Category</label>
                            <div class="col-8">
                                <input id="category" name="category" class="form-control here" required="required"
                                    type="text" value="<%=course.category.name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="photo" class="col-4 col-form-label">Photo</label>
                            <img src="/course/photo/<%=course._id%>" alt="<%= course.name%>" width="150" height="150">
                            <div class="col-8">
                                <input type="file" name="photo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="price" class="col-4 col-form-label">Price</label>
                            <div class="col-8">
                                <input id="price" name="price" class="form-control here" value="<%=course.price %>"
                                    type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-4 col-form-label">Brief Description</label>
                            <div class="col-8">
                                <input id="description" name="description" value="<%=course.description %>"
                                    class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="detailDes" class="col-4 col-form-label">Detail description</label>
                            <div class="col-8">
                                <textarea id="detailDes" name="detailDes" value="<%-course.detailDes %>"
                                    class="form-control here"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h4 class="col-4" style="display: inline;">Content</h4>
                            <button style="display: inline;" type="button" name="addChapter" id="addChapter"
                                class="btn btn-warning" btn-lg btn-block>Add Chapter</button>
                        </div>
                        <!-- Render already Course's content -->
                        <div id="alreadyContent">
                            <% for(let i=0;i<course.content.length;i++){ %>
                                <% let lessonCount=0; %>
                                    <div class="form-group row">
                                        <div class="col-4 col-form-label">
                                            <label>Chapter <%= i+1%></label>
                                        </div>
                                        <div class="col-8">
                                            <input name="chapter<%=i+1%>" class="form-control here"
                                                value="<%= course.content[i].name%>" type="text">
                                        </div>
                                        <% for(let j=0;j<course.content[i].chapter.length;j++){ %>
                                            <% lessonCount++; %>
                                                <div class="col-4">
                                                    Lesson <%= j+1%> for chapter <%= i+1 %>
                                                </div>
                                                <div class="col-8">
                                                    <input name="lesson<%=j+1%>ForChapter<%=i+1%>"
                                                        class="form-control here"
                                                        value="<%= course.content[i].chapter[j].lesson%>" type="text">
                                                    <input type="file" name="video">
                                                </div>
                                                <% } %>
                                    </div>
                                    <% } %>
                        </div>
                        <div id="chapter"></div>
                        <!-- calculate -->
                        <% for(let i=0;i<course.content.length;i++){ %>
                            <% let lessonCount=0; %>
                                <% for(let j=0;j<course.content[i].chapter.length;j++){ %>
                                    <% lessonCount++; %>
                                        <% } %>
                                            <input id="lessonCountForChapter<%= i+1%>"
                                                name="lessonCountForChapter<%= i+1%>" value="<%= lessonCount%>"
                                                style="display:none">
                </div>
                <% } %>
                    <!--  -->
                    <hr>
                    <input type="text" id="chapterCount" value="<%= course.content.length%>" style="display: none;">
                    <input type="text" name="chapterCountUpdate" id="chapterCountUpdate" style="display: none;">
                    <input type="text" name="status" id="status" style="display: none;">
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button type="submit" class="btn btn-primary">Update Course</button>
                        </div>
                    </div>
                    </form>
                    <button id="finishCourse" style="display: inline;"
                        class="btn btn-success text-right offset-4">Finish Course</button>
            </div>
        </div>
    </div>
</div>
</div>
<script>

    let lessonIndex = 1;
    let chapterCount = document.getElementById('chapterCount').value;
    let chapterStartIndex = (+chapterCount);
    tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });

    let addChapterButton = document.getElementById('addChapter');
    addChapterButton.onclick = function () {
        lessonIndex = 1;
        chapterStartIndex++;
        document.getElementById('chapterCountUpdate').value = chapterStartIndex;
        document.getElementById('chapter').innerHTML += `<div class="form-group row">
                            <div class="col-4 col-form-label">
                                <label for="chapter${chapterStartIndex}">Chapter ${chapterStartIndex}</label>
                                <button style="display: inline;" type="button" name="addLesson" id="addLessonForChapter${chapterStartIndex}" class="btn btn-info" btn-lg btn-block>Add Lesson</button>
                            </div>
                            <div class="col-8">
                                <input id="chapter${chapterStartIndex}" name="chapter${chapterStartIndex}"
                                    class="form-control here" placeholder="Chapter ${chapterStartIndex}" type="text">
                                <div id="lessonForChapter${chapterStartIndex}"></div>
                            </div>
                        </div>`
        let addLessonButton = document.getElementById(`addLessonForChapter${chapterStartIndex}`);
        addLessonButton.onclick = function () {
            let currentLessonIndex = lessonIndex++;
            document.getElementById(`lessonForChapter${chapterStartIndex}`).innerHTML += `
                                    <div>
                                        <input class="form-control here mt-2" id="lesson${currentLessonIndex}ForChapter${chapterStartIndex}" name="lesson${currentLessonIndex}ForChapter${chapterStartIndex}"
                                             placeholder="Lesson ${currentLessonIndex} for chapter ${chapterStartIndex}" type="text">
                                        <input type="file" name="video">
                                        <input id="lessonCountForChapter${chapterStartIndex}" name="lessonCountForChapter${chapterStartIndex}" style="display:none"></div>
                                    </div>
                                    `
            document.getElementById(`lessonCountForChapter${chapterStartIndex}`).value = currentLessonIndex;
        }

    }
    //handle finish course button
    document.getElementById('finishCourse').onclick = function () {
        console.log('Click')
        document.getElementById('status').value = true;
        alert('Finish course successfully')
    }
    //


</script>