<div class="container mt-5">
    <form method="GET" action="/courses" id="pagingForm">
        <input type="text" id="pagingIndex" value="1">
    </form>
    <div class="row">
        <% courses.forEach((course)=>{ %>
            <div class="card col-sm-3 mr-5 mb-2">
                <img class="card-img-top" src="http://localhost:5000/course/photo/<%= course._id%>"
                    alt="<%= course.name %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= course.name %>
                    </h5>
                    <p class="card-text">
                        <i>
                            Category: <%= course.category.name %>
                        </i>
                    </p>
                    <p class="card-text">
                        <%= course.description %>
                    </p>
                    <p class="card-text">
                        Teacher: <%= course.teacher.name %>
                    </p>
                    <p class="card-text">
                        <i>
                            Price: <%= course.price %>
                        </i>
                    </p>
                    <a href="/course/<%= course._id%>" class="btn btn-primary">Detail</a>
                </div>
            </div>
            <% }) %>
    </div>
    <div class="paging-button text-center">
        <button id="prevPage">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <span id="currentPage"></span>
        <button id="nextPage">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
</div>
<script>
    let currentPage = 1;
    let totalCourses = 11;
    let coursesPerPage = 6;
    let maxPage = 0;
    if (totalCourses % coursesPerPage == 0) {
        maxPage = totalCourses / coursesPerPage;
    } else {
        maxPage = Math.floor((totalCourses / coursesPerPage) + 1);
    }
    document.getElementById('currentPage').innerHTML = currentPage;
    document.getElementById('prevPage').addEventListener("click", function () {

        if (currentPage > 1) {
            currentPage--;
        }
        document.getElementById('currentPage').innerHTML = currentPage;
        document.getElementById('pagingIndex').value = currentPage;
        console.log(document.getElementById('pagingIndex').value)
    })
    document.getElementById('nextPage').addEventListener("click", function () {
        if (currentPage < maxPage) {
            currentPage++;
        }
        document.getElementById('currentPage').innerHTML = currentPage;
        document.getElementById('pagingIndex').value = currentPage;
        console.log(document.getElementById('pagingIndex').value)

    })
    //Post value to input

</script>