<div class="container">
    <div class="jumbotron row" style="background-color: #1e1e1c;">
        <div class="col-sm-9 text-light">
            <h1>
                <%= course.name %>
                <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" style="font-size : 20px;">
                    <i class="fa fa-dollar"></i><%= course.price %>
                </button>
            </h1>
            <div class="mt-2">
                <h5>
                    <%= course.description %>
                </h5>
                <small>
                    Views: <%= course.view %>
                    <br>
                    Students: <%= course.students.length%>
                    <br>
                    <!-- Xử lí điểm rate -->
                    <% var ratePoint = 0 %>
                    <% var oneStar = 0 %>
                    <% var twoStar = 0 %>
                    <% var threeStar = 0 %>
                    <% var fourStar = 0 %>
                    <% var fiveStar = 0 %>
                    <% course.reviews.forEach(function(courses) { %>
                        <% ratePoint += courses.rated %>
                        <%if (courses.rated==1) {%> <%oneStar+=1%> <%}%>
                        <%if (courses.rated==2) {%> <%twoStar+=1%> <%}%>
                        <%if (courses.rated==3) {%> <%threeStar+=1%> <%}%>
                        <%if (courses.rated==4)  {%> <%fourStar+=1%> <%}%>
                        <%if (courses.rated==5) {%> <%fiveStar+=1%> <%}%>
                    <% }) %>
                    <% var oneStarRate = Math.round((oneStar*100/ course.reviews.length)*10)/10 %>
                    <% var twoStarRate = Math.round((twoStar*100/ course.reviews.length)*10)/10 %>
                    <% var threeStarRate = Math.round((threeStar*100/ course.reviews.length)*10)/10 %>
                    <% var fourStarRate = Math.round((fourStar*100/ course.reviews.length)*10)/10 %>
                    <% var fiveStarRate = Math.round((fiveStar*100/ course.reviews.length)*10)/10 %>
                    <% var point = Math.round(ratePoint/ course.reviews.length * 100) / 100 %>
                    Last updated: <%= course.updatedAt %>
                </small>
            </div>
        </div>
        <img src="http://localhost:5000/course/photo/<%= course._id%>" class="col-sm-3" alt="<%= course.name%>">
    </div>
    <div class="body">
        <div class="content mt-5 ">
            <h2>Content</h2>
            <div class="comment-widgets" id="accordionExample">
              <% var count=0 %>
              <% course.content.forEach(function(contents) { %>
                <% count++ %>
                <div class="comment-widgets">
                  <div class="card-header" id="heading<%=count%>">
                    <h5 class="mb-0">
                      <button style="width: 100%; text-align: left;" class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=count%>" aria-expanded="false" aria-controls="collapse<%=count%>">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>  Chapter <%=count%>: <%=contents.name%>
                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapse<%=count%>" class="collapse" aria-labelledby="headin<%=count%>" data-parent="#accordionExample">
                    <div class="card-body">
                      <% contents.chapter.forEach(function(chapter) { %>
                      <a href="">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>  <%=chapter.lesson%>
                      </a>
                      <br></br>
                      <% }) %>
                    </div>
                  </div>
                  
                </div>
                <% }) %>
              </div>
        </div>
        <div class="detailDescription mt-5">
            <h2>Description:</h2>
            <div class=" card-body comment-widgets">
                <%- course.detailDes %>
            </div>
        </div>
        <div class="card mt-5">
            <h2>
                Teacher:
            </h2>
            <div class="card-body comment-widgets">
                <h4 class="card-title">
                    Teacher: <%= course.teacher.name %>
                </h4>
                <h4 class="card-title">
                    Email: <%= course.teacher.email %>
                </h4>
                <div>
                    <h5 class="card-title">
                        About me
                    </h5>
                    <p class="card-text">
                        <%=course.teacher.about %>
                    </p>
                </div>
            </div>
        </div>
        <div class="review mt-5">
            <h2>
                Review:
            </h2>
            <div class="mt-100 mb-100">
                <div>
                    <div class="card comment-widgets">
                        <div class="container" style="align-content: center;">
                            <div class="row comment-widgets" style="margin: 50px;">
                                <div class="col-xs-12 col-md-6" style="margin: 30px;">
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 text-center">
                                                <h1 class="rating-num"><%=point%></h1>
                                                <div class="rating">
                                                    <%if (point >= 1 && point < 1.5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 1.5 && point < 2) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-half-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 2 && point < 2.5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 2.5 && point < 3) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-half-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 3 && point < 3.5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 3.5 && point < 4) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-half-o fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 4 && point < 4.5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point >= 4.5 && point < 5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star-half-o fa-2x" aria-hidden="true"></i> <%}%>
                                                    <%if (point == 5) {%> <i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i><i style="color: #ff9933;" class="fa fa-star fa-2x" aria-hidden="true"></i> <%}%>
                                                </div>
                                                <div style="color: #ff9933; font-weight: 600;">
                                                    <span></span><%= course.reviews.length %> Total Ratings
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="row rating-desc">
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <%=fiveStarRate%>%
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress progress-striped">
                                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="20"
                                                                aria-valuemin="0" aria-valuemax="100" style="width: <%=fiveStarRate%>%">
                                                                <span style="margin-left: 10px; color: black;">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 5 -->
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <%=fourStarRate%>%
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="20"
                                                                aria-valuemin="0" aria-valuemax="100" style="width: <%=fourStarRate%>%">
                                                                <span style="margin-left: 10px; color: black;">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 4 -->
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <%=threeStarRate%>%
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="20"
                                                                aria-valuemin="0" aria-valuemax="100" style="width: <%=threeStarRate%>%">
                                                                <span style="margin-left: 10px; color: black;">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 3 -->
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <%=twoStarRate%>%
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress">
                                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="20"
                                                                aria-valuemin="0" aria-valuemax="100" style="width: <%=twoStarRate%>%">
                                                                <span style="margin-left: 10px; color: black;">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 2 -->
                                                    <div class="col-xs-3 col-md-3 text-right">
                                                        <%=oneStarRate%>%
                                                    </div>
                                                    <div class="col-xs-8 col-md-9">
                                                        <div class="progress">
                                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80"
                                                                aria-valuemin="0" aria-valuemax="100" style="width: <%=oneStarRate%>%">
                                                                <span style="margin-left: 10px; color: black;">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 1 -->
                                                </div>
                                                <!-- end row -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% course.reviews.forEach(function(courses) { %>
                        <div class="comment-widgets">
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-2"><img src="https://clipartart.com/images/login-background-images-clipart.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium" style="font-weight: bold;"><%= courses.reviewer.name%></h6>
                                    <h6 class="font-medium">
                                        <%if (courses.rated==1) {%>  <i class="fa fa-star" aria-hidden="true"></i>  <%}%>
                                        <%if (courses.rated==2) {%>  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>  <%}%>
                                        <%if (courses.rated==3) {%>  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>  <%}%>
                                        <%if (courses.rated==4) {%>  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>  <%}%>
                                        <%if (courses.rated==5) {%>  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>  <%}%>
                                        (<%= courses.rated %>)
                                    </h6> 
                                    <span class="m-b-15 d-block"><%= courses.body %></span>
                                </div>
                            </div>
                        </div> 
                        <% }) %>
                        <% var max = 3; %>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h2>
                Some course for you:
            </h2>
        </div>
        
    </div>
</div>









